.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  background-color: mediumspringgreen;
}

.card:hover {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.author {
  font-weight: bold;
}

.comments {
  font-weight: bold;
}

.date {
  margin: 5px 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.metadata {
  text-align: right;
}

.image {
  max-width:100%;
  height:auto;
}

.header {
  padding: 20px 24px;
  margin: 0 -24px;
  background-color: aliceblue;
}

.footer {
  background-color: aliceblue;
  margin: 0 -24px;
}

