.actions {
  text-align: center;
  margin: 30px;
  padding: 10px;
}

.action {
  background-color: #4CAF50;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}
